<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Google Protocol Buffer</title>
</head>
<body>
<p></p>
<form action="" th:action="@{/search}" method="post">
    <label> Software name
        <input type="text" name="name"/>
    </label>
    <button onclick="getDeveloper(name)">Search</button>
</form>

<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/long.min.js}"></script>
<script th:src="@{/js/bytebuffer.min.js}"></script>
<script th:src="@{/js/protobuf.min.js}"></script>
<script th:src="@{/js/App.js}"></script>

</body>
</html>
