<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" ng-app="google-buffer" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Google Protocol Buffer</title>
</head>
<body ng-controller="buffer-controller">
<p></p>

<form>
    <input type="text" ng-model="name" placeholder="Software name"/>
    <input type="submit" value="Search" ng-click="getDeveloper()"/>
</form>

<p required="true">{{dev}}</p>

<script th:src="@{/js/angular.1.5.8.min.js}"></script>
<!--<script th:src="@{/js/long.min.js}"></script>-->
<script th:src="@{/js/bytebuffer.min.js}"></script>
<script th:src="@{/js/protobuf.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>
